<%- include('head')%>
<%- include('nav')%>

<div align="center">
    <h1 class="lead mt-5" style="font-size: 4rem; margin-bottom: 0;">ERRO 404</h1>
    <hr style="width: 18%; margin-top: 0;">
    <p class="lead" style="font-size: 1.5rem;">Página não encontrada...</p>
</div>

<%- include('footer')%>